:root {
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --logo-dark-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --button-hover-color: #188ce8;
  --icon-color: #afb1b8;
  --footer-link-color: rgba(255, 255, 255, 0.1);
  --overlay-background-color: rgba(33, 150, 243, 0.9);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover, .modal-close-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-message-field {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .icon {
  border-color: var(--accent-color);
}

.label {
  font-size: 14px;
  line-height: 1.71;
}

.agreement-link {
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 56px;
  border-radius: 4px;
  border: transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--button-hover-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link.current {
  position: relative;
  color: var(--accent-color);
}

.nav-list__link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon-smartphone {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon-smartphone,
.contacts__link:focus .contacts__icon-smartphone {
  fill: currentColor;
}

.contacts__icon-envelope {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon-envelope,
.contacts__link:focus .contacts__icon-envelope {
  fill: currentColor;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__text {
  color: var(--logo-dark-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover-color);
}

.features {
  display: flex;
}

.features__list-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__list-description {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--section-background-color);
}

.work {
  display: flex;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__img {
  display: block;
}

.work__list-title {
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  display: flex;
}

.team__item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-background-color);
}

.team__card {
  padding: 30px 32px;
}

.team__name-title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__img {
  display: block;
}

.team__job-description {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.social-footer {
  margin-left: 70px;
}

.footer-logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-light {
  color: var(--primary-white-color);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}

.footer-contact {
  color: var(--address-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover, .footer-contact:focus {
  color: var(--accent-color);
}

.footer-link {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: var(--primary-white-color);
}

.subscribe-form {
  margin-left: auto;
}

.subscribe-form-label {
  display: inline-flex;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-form-input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscribe-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 28px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: var(--button-hover-color);
}

.subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  color: var(--title-text-color);
  background-color: var(--section-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.projects-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover, .projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-img {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: var(--overlay-background-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translateY(0);
}

.projects-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */