.work-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work {
  display: flex;
}

.work__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work__img {
  display: block;
}

.work__list-title {
  position: absolute;
  left: 0;
  bottom: 0;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}
