.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form-field {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-message-field {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox:checked + & {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../images/check.svg');
    background-size: contain;
    background-origin: border-box;
  }

  .checkbox:focus + & {
    border-color: var(--accent-color);
  }
}

.label {
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement-link {
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 56px;
  border-radius: 4px;
  border: transparent;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}
