:root {
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --logo-dark-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --button-hover-color: #188ce8;
  --icon-color: #afb1b8;
  --footer-link-color: rgba(255, 255, 255, 0.1);
  --overlay-background-color: rgba(33, 150, 243, 0.9);
}
